# 忽略环境变量文件
# 这些文件通常包含敏感信息，如 API 密钥，不应该被提交到版本库
.env
.env.*
!.env.example

# macOS system files
.DS_Store
__MACOSX/

# Python cache and environment files
__pycache__/
*.pyc
venv/
env/


# 大文件
./train/
./results/
./spider_data/
./model/
./cache/
